# ignore macOS .DS_Store
.DS_Store

# ignore git properties file
git.properties
Git.properties

# ignore class files
*.class

# ignore build/product directories
target/
dist/
docs/api/

# ignore test reports
EvoLudoTest/tests/reports

# ignore scratch
scratch/

# ignore Xcode
*.xcodeproj

# ignore reference and report files for tests
test/reports/
