# ignore macOS .DS_Store
.DS_Store

# ignore git properties file
git.properties
Git.properties

# ignore class files
*.class

# ignore build/product directories
build/
product/
docs/api/
war/WEB-INF/
war/evoludoweb

# ignore scratch
scratch/

# ignore GWT cache
gwt-unitCache/

# ignore Xcode
*.xcodeproj

# ignore reference and report files for tests
test/references/
test/reports/

# maven
target
