# ignore macOS .DS_Store
.DS_Store

# ignore class files
*.class

# ignore build directories
build/
product/

# ignore war build products
war/WEB-INF/
war/evoludoweb

# ignore GWT cache
gwt-unitCache/

# ignore Xcode user settings
xcuserdata/
