<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Export date</key>
<string>Wed Oct 23 16:22:23 GMT-700 2019</string>
<key>Title</key>
<string>Conservation Game</string>
<key>Version</key>
<string>© Christoph Hauert, v1.0 May 2019 (Engine: java3d-expiring-162-gef129f33)</string>
<key>CLO</key>
<string> --fitness 3:0:4:1 --geometry r3 --popsize 5x --seed=0</string>
<key>Generation</key>
<string>0</string>
<key>Geometry</key>
<dict>
<key>Name</key>
<string>random regular graph</string>
<key>Code</key>
<integer>114</integer>
<key>Graph</key>
<dict>
<key>0</key>
<array>
<integer>14</integer>
<integer>20</integer>
<integer>23</integer>
</array>
<key>1</key>
<array>
<integer>24</integer>
<integer>17</integer>
<integer>19</integer>
</array>
<key>2</key>
<array>
<integer>21</integer>
<integer>23</integer>
<integer>11</integer>
</array>
<key>3</key>
<array>
<integer>18</integer>
<integer>19</integer>
<integer>7</integer>
</array>
<key>4</key>
<array>
<integer>5</integer>
<integer>14</integer>
<integer>25</integer>
</array>
<key>5</key>
<array>
<integer>12</integer>
<integer>4</integer>
<integer>10</integer>
</array>
<key>6</key>
<array>
<integer>9</integer>
<integer>16</integer>
<integer>8</integer>
</array>
<key>7</key>
<array>
<integer>25</integer>
<integer>3</integer>
<integer>20</integer>
</array>
<key>8</key>
<array>
<integer>13</integer>
<integer>16</integer>
<integer>6</integer>
</array>
<key>9</key>
<array>
<integer>21</integer>
<integer>6</integer>
<integer>17</integer>
</array>
<key>10</key>
<array>
<integer>5</integer>
<integer>13</integer>
<integer>24</integer>
</array>
<key>11</key>
<array>
<integer>2</integer>
<integer>15</integer>
<integer>20</integer>
</array>
<key>12</key>
<array>
<integer>5</integer>
<integer>21</integer>
<integer>18</integer>
</array>
<key>13</key>
<array>
<integer>10</integer>
<integer>8</integer>
<integer>23</integer>
</array>
<key>14</key>
<array>
<integer>4</integer>
<integer>0</integer>
<integer>16</integer>
</array>
<key>15</key>
<array>
<integer>18</integer>
<integer>22</integer>
<integer>11</integer>
</array>
<key>16</key>
<array>
<integer>14</integer>
<integer>6</integer>
<integer>8</integer>
</array>
<key>17</key>
<array>
<integer>9</integer>
<integer>19</integer>
<integer>1</integer>
</array>
<key>18</key>
<array>
<integer>12</integer>
<integer>15</integer>
<integer>3</integer>
</array>
<key>19</key>
<array>
<integer>17</integer>
<integer>3</integer>
<integer>1</integer>
</array>
<key>20</key>
<array>
<integer>0</integer>
<integer>7</integer>
<integer>11</integer>
</array>
<key>21</key>
<array>
<integer>12</integer>
<integer>2</integer>
<integer>9</integer>
</array>
<key>22</key>
<array>
<integer>25</integer>
<integer>24</integer>
<integer>15</integer>
</array>
<key>23</key>
<array>
<integer>2</integer>
<integer>13</integer>
<integer>0</integer>
</array>
<key>24</key>
<array>
<integer>22</integer>
<integer>1</integer>
<integer>10</integer>
</array>
<key>25</key>
<array>
<integer>4</integer>
<integer>7</integer>
<integer>22</integer>
</array>
</dict>
</dict>
<key>Strategies</key>
<dict>
<key>0</key>
<string>Rich Cooperator</string>
<key>1</key>
<string>Poor Cooperator</string>
<key>2</key>
<string>Rich Defector</string>
<key>3</key>
<string>Poor Defector</string>
</dict>
<key>Configuration</key>
<array>
<integer>3</integer>
<integer>1</integer>
<integer>2</integer>
<integer>1</integer>
<integer>3</integer>
<integer>0</integer>
<integer>3</integer>
<integer>1</integer>
<integer>2</integer>
<integer>3</integer>
<integer>0</integer>
<integer>2</integer>
<integer>0</integer>
<integer>1</integer>
<integer>0</integer>
<integer>2</integer>
<integer>1</integer>
<integer>0</integer>
<integer>2</integer>
<integer>1</integer>
<integer>0</integer>
<integer>3</integer>
<integer>0</integer>
<integer>1</integer>
<integer>3</integer>
<integer>2</integer>
</array>
<key>Fitness</key>
<array>
<real>1</real>
<real>0</real>
<real>4</real>
<real>0</real>
<real>1</real>
<real>3</real>
<real>1</real>
<real>0</real>
<real>4</real>
<real>1</real>
<real>3</real>
<real>4</real>
<real>3</real>
<real>0</real>
<real>3</real>
<real>4</real>
<real>0</real>
<real>3</real>
<real>4</real>
<real>0</real>
<real>3</real>
<real>1</real>
<real>3</real>
<real>0</real>
<real>1</real>
<real>4</real>
</array>
<key>Interactions</key>
<array>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
<integer>0</integer>
</array>
</dict>
</plist>